/* current-page */
.current-page-wrap {
  position: relative;
}

.current-page-wrap .handler-box {
  position: absolute;
  top: 0;
  right: 0;
}

.current-page-wrap .current-page-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* other */
.el-main {
  padding: 0 0 0 15px;
}
