.dynamic-setting-content-box {
  width: 500px;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: #eee;
}

.dynamic-setting-content-box .page-wrap {
  width: 375px;
  min-height: 667px;
  margin: 50px auto;
  background-color: #ffffff;
}
