/* reset */
html,
body {
  margin: 0;
  padding: 0;
  word-break: break-word;
  -webkit-tap-highlight-color: transparent;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
