.admin-nav-left {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  padding-bottom: 50px;
  overflow-x: hidden;
  z-index: 55;
  transition: width linear 0.3s;
}

.admin-nav-left.close {
  width: 50px;
}

.admin-nav-left .close-button {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-color: #3a444f;
}

.admin-nav-left .close-button:hover {
  background-color: #262d34;
}

.admin-nav-left .close-button .iconfont {
  font-size: 25px;
  color: #ffffff;
  transform: rotate(90deg);
}

.admin-nav-left.close .close-button .iconfont {
  transform: rotate(270deg);
}

.admin-nav-left .admin-nav-left-menu {
  min-height: 100%;
}

.admin-nav-left .layui-nav-logo {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 28px;
  color: #ffffff;
  text-align: center;
}

.admin-nav-left .layui-nav-logo-img {
  height: 60px;
}
