<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文档中心-后台登录</title>
    <link rel="stylesheet" href="/resource/css/reset.css"/>
    <link rel="stylesheet" href="/resource/css/index.css"/>
    <script src="/resource/js/md5.min.js"></script>
    <!-- Import style -->
    <link rel="stylesheet" href="/resource/css/element-plus.css"/>
    <!-- Import Vue 3 -->
    <script src="/resource/js/vue.global.js"></script>
    <!-- Import component library -->
    <script src="/resource/js/element-plus.js"></script>
    <script src="/resource/js/element-plus-zhCn.js"></script>
    <script src="/resource/js/axios.min.js"></script>
    <%- include ('../../_values/global.ejs') -%>
    <%- include ('./style.ejs') -%>
</head>
<body>
<div id="app" class="page-admin-page-login-wrap">
    <div class="login-box">
        <div class="title t-ac fz-28 fw-700 mb-32">
            文档系统登录
        </div>
        <el-form
                ref="ruleFormRef"
                :model="ruleForm"
                status-icon
                :rules="rules"
                label-width="0"
                class="demo-ruleForm"
        >
            <el-form-item prop="name">
                <el-input v-model="ruleForm.name" type="text" placeholder="请输入账号名称" size="large"
                          autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item prop="password">
                <el-input v-model="ruleForm.password" type="password" placeholder="请输入密码" size="large"
                          autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button class="submit-button" type="primary" @click="submit(ruleForm)" size="large">
                    立即登录
                </el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
<script>
  Vue.createApp({
    data() {
      return {
        ruleForm: {name: '', password: ''},
        rules: {
          name: [{required: true, message: '请输入账号名称', trigger: 'blur'}],
          password: [{required: true, message: '请输入密码', trigger: 'blur'}],
        }
      };
    },
    methods: {
      submit(ruleForm) {
        if (!this.$refs.ruleFormRef) return;
        this.$refs.ruleFormRef.validate(function (valid) {
          if (!valid) return;
          var salt = 'fc-salt';
          var url = '/api/admin-login/login';
          var params = Object.assign({}, ruleForm);
          params.password = md5(params.password, salt);
          var loading = ElementPlus.ElLoading.service({
            lock: true,
            text: '正在登录...',
            background: 'rgba(0, 0, 0, 0.7)',
          });
          axios.post(url, params).then(function (response) {
            var result = response.data;
            if (result.code === window.RESPONSE_MAP.success.code) {
              location.href = '/admin-home/index';
            } else {
              ElementPlus.ElMessageBox.alert(result.msg, '登录失败');
            }
          }).catch(function (err) {
            ElementPlus.ElMessageBox.alert(err.toString(), '登录失败');
          }).finally(function () {
            loading.close();
          });
        })
      }
    }
  }).use(ElementPlus, { locale: window.ElementPlusLocaleZhCn}).mount("#app");
</script>
</body>
</html>
