<ul class="layui-nav layui-nav-tree nav-left" lay-filter="test">
    <!-- 顶部Logo -->
    <li class="layui-nav-logo">
        <img src="/resource/images/admin-nav-left-logo.png" alt="" />
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">文档管理</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">文档空间</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">系统设置</a>
        <dl class="layui-nav-child">
            <dd><a href="">成员管理</a></dd>
            <dd><a href="">角色管理</a></dd>
            <dd><a href="">权限管理</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">个人中心</a></li>
</ul>

