<ul id="admin-nav-left" class="layui-nav layui-nav-tree nav-left" lay-filter="test">
    <!-- 顶部Logo -->
    <li class="layui-nav-logo">
        <img src="/resource/images/admin-nav-left-logo.png" alt=""/>
    </li>
    <li class="layui-nav-item"><a href="/admin-home/index">首页</a></li>
    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">文档管理</a>
        <dl class="layui-nav-child">
            <dd><a href="/admin-home/space">文档空间</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">系统设置</a>
        <dl class="layui-nav-child">
            <dd><a href="">成员管理</a></dd>
            <dd><a href="">角色管理</a></dd>
            <dd><a href="">权限管理</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="/admin-home/person">个人中心</a></li>
</ul>
<script>
  (function () {
    /// 选中当前项
    var navWrap = document.getElementById('admin-nav-left');
    var navItems = navWrap ? navWrap.querySelectorAll('a') : [];
    var orgin = location.pathname;
    navItems.forEach(function (target) {
      var href = target.getAttribute('href');
      if (Boolean(href) && orgin.indexOf(href) === 0) {
        target.parentElement.classList.add('layui-this');
      }
    });
  })();
</script>

