<div id="admin-nav-left">
    <el-menu
            class="admin-nav-left"
            :class="{close: close}"
            background-color="#3a444f"
            class="el-menu-vertical-demo"
            text-color="#fff"
            :default-active="defaultActive"
    >
        <template v-if="!close">
            <el-menu-item index="-1" @click="toPath(homePath)">
                <img class="layui-nav-logo-img" src="/resource/images/admin-nav-left-logo.png" alt=""/>
            </el-menu-item>
            <template v-for="(item, index) in menuList">
                <template v-if="!item.children">
                    <el-menu-item :key="String(index)" :index="item.path" @click="toPath(item.path)">
                        <span>{{item.label}}</span>
                    </el-menu-item>
                </template>
                <template v-else>
                    <el-sub-menu :key="String(index)" :index="String(index)">
                        <template #title>
                            <span>{{item.label}}</span>
                        </template>
                        <el-menu-item v-for="(_item, _index) in item.children" :key="String(index)+'_'+String(_index)"
                                      :index="_item.path" @click="toPath(_item.path)">
                            {{_item.label}}
                        </el-menu-item>
                    </el-sub-menu>
                </template>
            </template>
        </template>
        <div class="close-button" @click="toogleClose()">
            <span class="iconfont icon-arrow-down"></span>
        </div>
    </el-menu>
</div>
<script>
  Vue.createApp({
    data() {
      return {
        close: false,
        defaultActive: location.pathname,
        homePath: '/admin-home/index',
        menuList: [
          {label: '首页', path: '/admin-home/index'},
          {label: '文档空间', path: '/admin-home/space'},
          {label: '个人中心', path: '/admin-home/person'},
        ]
      }
    },
    methods: {
      toPath: function(path) {
        location.href = path;
      },
      toogleClose: function() {
        this.close = !this.close;
        var contanier = document.getElementById('page-container');
        if(contanier) {
          if(this.close) contanier.classList.add('close');
          else contanier.classList.remove('close');
        }
      }
    }
  }).use(ElementPlus, {locale: window.ElementPlusLocaleZhCn}).mount("#admin-nav-left");
</script>

