<el-dialog v-model="visibleMenu" :title="formMenu.id ? '编辑空间' : '添加空间'" width="400px">
    <el-form :model="formMenu" label-width="100px">
        <el-form-item label="菜单名称">
            <el-input v-model="formMenu.menu_name" placeholder="菜单名称" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="菜单标识">
            <el-input v-model="formMenu.menu_mark" placeholder="菜单标识" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="菜单类型">
            <el-radio-group v-model="formMenu.menu_type" :disabled="Boolean(formMenu.id)">
                <el-radio :label="menuType.menu" size="large">菜单</el-radio>
                <el-radio :label="menuType.page" size="large">页面</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="菜单排序">
            <el-input-number class="space-add-number" v-model="formMenu.sort" :min="0" :step="1"
                             step-strictly></el-input-number>
        </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="visibleMenu = false">取消</el-button>
        <el-button type="primary" @click="addMenuSubmit()">
          确认{{ formMenu.id ? '编辑' : '添加'}}
        </el-button>
      </span>
    </template>
</el-dialog>
