<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="cache-control" content="max-age=0">
    <link rel="stylesheet" href="/resource/css/reset.css"/>
    <link rel="stylesheet" href="/resource/css/index.css"/>
    <title>文档中心</title>
</head>
<body>
<% if (data.content.doc_type === data.docTypeMap.rich) { %>
    <%- include('./_editor/rich.ejs') %>
<% } %>
<% if (data.content.doc_type === data.docTypeMap.markdown) { %>
    <%- include('./_editor/markdown.ejs') %>
<% } %>
</body>
</html>
