.page-space-wrap {
  position: relative;
  min-height: calc(100vh - 120px);
}

.space-add-number {
  width: 100%;
}


/* current-page */
.current-page-wrap {
  position: relative;
}

.current-page-wrap .handler-box {
  position: absolute;
  top: 0;
  right: 0;
}

.current-page-wrap .current-page-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.form-content-radio {
  width: 120px;
  margin: 0 10px 5px !important;
}

/* other */
.el-main {
  padding: 0 0 0 15px;
}

#content-rich-box {
  border: 1px solid #ccc;
  z-index: 100;
}

#content-rich-box #toolbar-container {
  border-bottom: 1px solid #ccc;
}

#content-rich-box #editor-container {
  min-height: 300px;
}
